.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.push-right {
  float: right;
}

.clear {
  clear: both;
}

.required {
  color: #f04e23;
}

.black {
  color: #333333 !important;
}

h1,
h2 {
  font-weight: 300;
  color: #f9a65d;
}

h2 {
  color: #f04e23;
}

h3,
h4 {
  font-weight: 300;
}

h3 {
  font-size: 23px;
}

#principe .text {
  font-size: 16px;
  line-height: 23px;
}

.carousel-control {
  text-align: center;
}

.carousel-caption.background-none {
  background: none !important;
}

.spaceT2 {
  margin-top: 2px;
}

.spaceT5 {
  margin-top: 5px;
}

.spaceT10 {
  margin-top: 10px;
}

.spaceT25 {
  margin-top: 25px;
}

.spaceT35 {
  margin-top: 35px;
}

.spaceT40 {
  margin-top: 40px;
}

.spaceT50 {
  margin-top: 50px;
}

.spaceT60 {
  margin-top: 60px;
}

.spaceT70 {
  margin-top: 70px;
}

.spaceB10 {
  margin-bottom: 10px;
}

.spaceB15 {
  margin-bottom: 15px;
}

.spaceB25 {
  margin-bottom: 25px;
}

.spaceB30 {
  margin-bottom: 30px;
}

.spaceB35 {
  margin-bottom: 35px;
}

.spaceB40 {
  margin-bottom: 40px;
}

.spaceL10 {
  margin-left: 10px;
}

.spaceL20 {
  margin-left: 20px;
}

#header {
  height: 90px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


#menu a {
  font-size: 17.5px;
  color: #f9a65d;
  display: inline-block;
}

#menu li {
  display: inline;
  float: left;
  list-style: none;
  padding: 0 7px;
}

#preorder {
  text-align: center;
  font-size: 18px;
  line-height: 23px;
}

#posts .wrapper {
  padding-top: 10px;
  margin-bottom: 30px;
  border-bottom: solid 1px #ddd;
}

#preorder strong {
  font-size: 25px;
}

#presse .help {
  color: #f9a65d;
}

#videos {
  font-size: 21px;
  font-weight: 300;
  line-height: 31px;
}

#videos .slogan {
  font-size: 23px;
  font-weight: 300;
  line-height: 34px;
}

#nos-produits h3 {
  padding-top: 25px;
}

#nos-produits table th,
#nos-produits table td {
  font-size: 17.5px;
  text-align: center !important;
}

#nos-produits table.popular {
  border: 1px solid #f9a65d;
}

#nos-produits table.popular td {
  border-color: transparent;
}

#nos-produits h3.popular  {
  padding: 0;
  color: #f9a65d;
}

#nos-produits small {
  font-size: 70%;
}

#nos-produits a {
  cursor: pointer;
}

#nos-produits h3 a {
  font-size: 23px;
  margin-bottom: 6px;
}

#nos-produits [data-campi-id]:hover {
  background-color: #ddd;
  border: 1px solid #f9a65d;
  cursor: pointer;
}


#faq a {
  color: #f9a65d;
}

#faq .accordion-heading a {
  color: #f04e23;
}
.accordion-close {
  cursor: pointer;
  text-decoration: underline;
}

#nos-atouts .row {
  text-align: center;
}

#nos-atouts i {
  font-size: 75px;
}

#nos-atouts p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

#nos-atouts .slogan {
  font-size: 23px;
  font-weight: 300;
  line-height: 34px;
}

#nos-atouts .slogan span {
  font-size: 14px;
}

#nos-atouts ul,
#nos-atouts ul i,
#nos-atouts .btn i {
  font-size: 18px;
}



#vehicules-compatibles { 
  font-size: 16px; 
}

#contact i {
  font-size: 75px;
}

#contact address {
  font-size: 18px;
}

#qui-sommes-nous .asset {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 22px;
}

.accordion-heading a {
  color: #F9A65C;
}

.accordion {
  box-shadow: 0 1px 0 #FBFBFB inset;
}

.accordion-heading {
  border-bottom: 1px solid #DDDDDD;
  background-color: #F8F8F8;
}

.accordion-inner {
  border-bottom: 1px solid #E5E5E5;
  border-top: none;
}

#footer {
  text-align: center;
  color: #f9a65d;
}

#footer a {
  color: #f9a65d;
}

/************************/

#configurateur #rules,
#configurateur label,
#configurateur .prix {
  font-size: 17.5px;
}

#configurateur .ref {
  font-size: 14px;
}

#configurateur .checked,
#configurateur .checked label {
  color: #f04e23;
  font-weight: bold;
}


#footer-total {
  position: fixed;
  bottom: 0;
  background-color: #fafafa;
  width: 100%;
  padding: 0.5em 0;
  border-top: 1px solid #dddddd;
}

.prix-total {
  font-size: 26px;
  color: #f04e23;
  font-weight: bold;
}

#configurateur .product_basic label {
  font-size: 22px;
  font-weight: bold;
}
#configurateur .product_basic label .ref {
  font-size: 15px;
  font-weight: normal;
}

#configurateur .contact {
  font-size: 31.5px;
  line-height: 36.5px;
  font-weight: 300;
}

#configurateur .complement_section {
  font-weight: bold;
}

#configurateur a {
  color: #F9A65C;
}

#configurateur .submit span {
  font-size: 17.5px;
}

#configurateur #confirmation {
  font-size: 17.5px;
  color: #f9a65d;
}

#configurateur #confirmation a {
  font-size: 17.5px;
  color: #333333;
}

#configurateur .infos {
  font-size: 17.5px;
}


#configurateur .span3.product_row .wrapper,
#configurateur .span4.product_row .wrapper {
  padding: 10px;
  border: solid 1px #ddd;
  text-align: center;
}
#configurateur .checked .wrapper {
  border-color: #f04e23 !important;
}
#configurateur .configs {
  vertical-align: middle;
}
#configurateur .configs .fancybox.thumbnail {
  vertical-align: middle;
}
#configurateur .configs .plus {
  display: inline;
  display: inline-block;
  font-size: 16px;
}

#configurateur .quantity {
  float: left;
  width: 2em;
  margin-right: 2em;
  padding: 0 6px !important;
}

/************************/

.page-header {
  padding-top: 115px;
}

#pressePage .page-header img {
  height: 45px;
}

#pressePage a {
  color: #F9A65C;
}

.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #7dfe24;
  background-image: -moz-linear-gradient(top,#7dfe24,#64cc1d);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#7dfe24),to(#64cc1d));
  background-image: -webkit-linear-gradient(top,#7dfe24,#64cc1d);
  background-image: -o-linear-gradient(top,#7dfe24,#64cc1d);
  background-image: linear-gradient(to bottom,#7dfe24,#64cc1d);
  background-repeat: repeat-x;
  border-color: #64cc1d #64cc1d #7dfe24;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7dfe24',endColorstr='#ff64cc1d',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #64cc1d;
}
