.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.required {
  color: #f04e23;
}

.black {
  color: #333333 !important;
}

h1,
h2 {
  font-weight: 300;
  color: #f9a65d;
}

h2 {
  color: #f04e23;
}

h3,
h4 {
  font-weight: 300;
}

h3 {
  font-size: 23px;
}

#principe .text {
  font-size: 16px;
  line-height: 23px;
  color: #f04e23
}

.carousel-control {
  text-align: center;
}

.carousel-caption.background-none {
  background: none !important;
}

.spaceT2 {
  margin-top: 2px;
}

.spaceT10 {
  margin-top: 10px;
}

.spaceT25 {
  margin-top: 25px;
}

.spaceT40 {
  margin-top: 40px;
}

.spaceB10 {
  margin-bottom: 10px;
}

.spaceB25 {
  margin-bottom: 25px;
}

.spaceL10 {
  margin-left: 10px;
}

.spaceL20 {
  margin-left: 20px;
}

#header {
  height: 90px;
  padding: 10px 0;
}

#header ul {
  margin-top: 40px;
}

#header ul a {
  font-size: 17.5px;
  color: #f9a65d;
}

#header li {
  padding: 0 10px;
}

#preorder {
  text-align: center;
  font-size: 18px;
  line-height: 23px;
}

#presse .help {
  color: #f9a65d;
}

#videos {
  font-size: 23px;
  font-weight: 300;
  line-height: 34px;
}

#videos .slogan {
  font-size: 23px;
  font-weight: 300;
  line-height: 34px;
}

#nos-produits h3 {
  padding-top: 25px;
}

#nos-produits table th,
#nos-produits table td {
  font-size: 17.5px;
  text-align: center !important;
}

#nos-produits table.popular {
  border: 1px solid #f9a65d;
}

#nos-produits table.popular td {
  border-color: transparent;
}

#nos-produits h3.popular  {
  padding: 0;
  color: #f9a65d;
}

#nos-produits small {
  font-size: 70%;
}

#nos-produits a {
  cursor: pointer;
}

#nos-produits h3 a {
  font-size: 23px;
  margin-bottom: 6px;
}

#faq a {
  color: #f9a65d;
}

#faq .accordion-heading a {
  color: #f04e23;
}

#nos-atouts .row {
  text-align: center;
}

#nos-atouts i {
  font-size: 75px;
}

#nos-atouts p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

#nos-atouts .slogan {
  font-size: 23px;
  font-weight: 300;
  line-height: 34px;
}

#nos-atouts .slogan span {
  font-size: 14px;
}

#nos-atouts ul,
#nos-atouts ul i,
#nos-atouts .btn i {
  font-size: 18px;
}

#contact i {
  font-size: 75px;
}

#contact address {
  font-size: 18px;
}

#qui-sommes-nous .asset {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 22px;
}

.accordion-heading a {
  color: #F9A65C;
}

.accordion {
  box-shadow: 0 1px 0 #FBFBFB inset;
}

.accordion-heading {
  border-bottom: 1px solid #DDDDDD;
  background-color: #F8F8F8;
}

.accordion-inner {
  border-bottom: 1px solid #E5E5E5;
  border-top: none;
}

#footer {
  text-align: center;
  color: #f9a65d;
}

#footer a {
  color: #f9a65d;
}

/************************/

#configurateur #rules,
#configurateur label,
#configurateur .prix {
  font-size: 17.5px;
}

#configurateur .checked,
#configurateur .checked label {
  color: #f04e23;
  font-weight: bold;
}

#configurateur .prix-total {
  font-size: 31.5px;
  color: #f04e23;
  font-weight: bold;
}

#configurateur .contact {
  font-size: 31.5px;
  line-height: 36.5px;
  font-weight: 300;
}

#configurateur a {
  color: #F9A65C;
}

#configurateur #confirmation {
  font-size: 17.5px;
  color: #f9a65d;
}